@media screen and (min-width: 596px) {
    .container {
        max-width: 596px;
        margin: 0 auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.418);
        border-radius: 2rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        max-width: 700px;
        width: 100%;
        margin: 0 3rem;
    }

    .first__section {
        border-radius: 2rem;
        max-width: 400px;
    }

    .first__section-title {
        padding: 1.5rem 0;
    }

    .first__section-circle {
        max-width: 200px;
        height: 200px;
    }

    .second__section-item {
        width: 100%;
    }
}